.circle-menu {
    position: absolute;
    min-width: 400px;
    min-height: 400px;
    box-shadow: 0 0 10px #ccc;
    z-index: 2;
    top: 50%;
    left: 0;
}

.circle-menu ul {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 0;
    list-style: none;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.7s ease;
    text-align: center;
}

.circle-menu ul li {
    position: absolute;
    top: -10px;
    left: -10px;
    transform-origin: 100% 100%;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.circle-menu ul li:nth-child(1) {
    transform: rotate(0deg) skew(30deg);
}

.circle-menu ul li:nth-child(2) {
    transform: rotate(60deg) skew(30deg);
}

.circle-menu ul li:nth-child(3) {
    transform: rotate(120deg) skew(30deg);
}

.circle-menu ul li:nth-child(4) {
    transform: rotate(180deg) skew(30deg);
}

.circle-menu ul li:nth-child(5) {
    transform: rotate(240deg) skew(30deg);
}

.circle-menu ul li:nth-child(6) {
    transform: rotate(300deg) skew(30deg);
}

.circle-menu ul li a {
    display: block;
    text-decoration: none;
    width: 160px;
    height: 160px;
    padding: 28px;
    font-size: 1.2em;
    color: #000000;
    background: #BCAAA4 no-repeat 50% 40%;
    transform: skew(-30deg) rotate(-60deg);
    margin: 40px 0 0 40px;
    transition: background-color 0.5s;
}

.circle-menu ul li:nth-child(even) a {
    background-color: rgba(241, 196, 15, 0.1);
}

.circle-menu ul li a:hover {
    background-color: #607D8B;
}