.home-text {
  font-family: 'Arial', sans-serif;
  position: absolute;
  right: 5%;
  bottom: 5%;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 50rem;
}

.type-animation {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
  color: #cbcbcb;
}