.btn-header-style {
    background-image: url('./image/bg/bgm-bg.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.content-box {
    display: none;
    height: 101%;
    width: 100%;
}

.content-box.active {
    display: block;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}